<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1, initial-scale=1.0">
	<title>Site</title>
	<link rel="icon" href="">
	<link rel="stylesheet" href="/css/layout.css">
<body>
	<header id="Header">
			
	</header>

	{{{body}}}
</body>
</html>